.Wdate{
	height:20px;
	background:transparent url(datePicker.gif) no-repeat right;
  border: 1px solid #CCCCCC;
  border-top:0px;
  border-left:0px;
  border-right:0px;
  height:20px;
  width:100%;
  vertical-align:middle;
  padding-top:3px;
  font-size: 12px;
}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}