body {
	font-size: 12px;
}
tr {
	line-height: 20px;
	bgcolor: "#FFFFFF";
}

td {
	font-size: 12px;
	word-break:break-all;
}
.kc {
	color: #FF0000;
}
.input2 { 
    border-right: medium none; 
    border-top: medium none; 
    font-size: 12px; 
    border-left: medium none; 
    color: #000000; 
    border-bottom:medium none; 
    font-family: "ו"; 
    text-decoration: none; 
}
input { 
    border: #CCCCCC solid 1px; 
    border:0px ;   
}
.input1 {
    border: #CCCCCC solid 1px;

}
textarea {  
    border: #CCCCCC solid 1px; 
    overflow-x:auto; 
    overflow-y:auto; 
    border:0px ;  
}

.select1{ display:block;
  
  height:18px; 
  margin:1px 0 0 0 #ffffff; 
  overflow:hidden ;
  background-color:#ffffff;
}
.select1 select
{ 
  margin:-1px 0 0 -1px; 
  color:#3A3A3A ;
  SCROLLBAR-FACE-COLOR:   #ffffff;     
  SCROLLBAR-HIGHLIGHT-COLOR:   #ffffff;     
  SCROLLBAR-SHADOW-COLOR:   #ffffff;     
  SCROLLBAR-3DLIGHT-COLOR:   #ffffff;     
  SCROLLBAR-ARROW-COLOR:   #ffffff;     
  SCROLLBAR-TRACK-COLOR:   #ffffff;     
  SCROLLBAR-DARKSHADOW-COLOR:   #ffffff;  
}

select{ 
        border: #ffffff solid 1px;
	margin:-2px;
	background-color:#FFFFFF;
}
.select2{ 
	border:#CCCCCC solid 1px;
	width:0;
	height:18px;
}
.bt1 { 
  font-family: "ו"; 
  font-size: 15px; 
  font-weight: bold; 
  color: #014459; 
  text-decoration: none; 
  background-repeat: repeat-x; 
  line-height: 26px; 
}